@import "utils/variables";

html {
    scroll-behavior: smooth;
}

h1,h2 {
    text-align: center;
    column-span: all;
    padding: 20px;
}

.section {
    padding-top: 50px;
    padding-bottom: 40px;
}

p {
    margin: auto;
    text-align: center;
    width: 60%;
}